@model IEnumerable<MinistryOfLand.Models.ChildrenInfo>

@{
    ViewBag.Title = "DataChildren";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="clildren-table">
    <h2>Children</h2>
    <table class="table">
        <tr>
            <th>
                User Name
            </th>
            <th>
                Name
            </th>
            <th>
                Date Of Birth
            </th>
            <th>
                Gender
            </th>
            
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAccount.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChildrenName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChildrenDOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChildrenSex)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "EditChildren", new { id = item.ChildrenInfoId }, new { @class = "edita" }) 
                    @Html.ActionLink("Details", "DetailsChildren", new { id = item.ChildrenInfoId }, new { @class = "details" }) 
                    @Html.ActionLink("Delete", "DeleteChildren", new { id = item.ChildrenInfoId }, new { @class = "deletea" })
                </td>
            </tr>
        }
    </table>
</div>