@model IEnumerable<MinistryOfLand.Models.PostingRecord>

@{
    ViewBag.Title = "DataPostingRecords";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Posting Records</h2>
<div class="clildren-table">
    <table class="table">
        <tr>
            <th>
                Organization
            </th>
            <th>
                Location
            </th>
            <th>
                Thana
            </th>
            <th>
                District
            </th>
            <th>
                Posting from
            </th>
            <th>
                Posting To
            </th>
            <th>
                Pay Scal
            </th>
            <th>
                Posting Date
            </th>
            <th>
                Country
            </th>
            <th>
                User Name
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Thana)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.District)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pfrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayScal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAccount.username)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditPostingRecords", new { id = item.PostingId }, new { @class = "edita" }) 
                    @Html.ActionLink("Details", "DetailsPostingRecords", new { id = item.PostingId }, new { @class = "details" }) 
                    @Html.ActionLink("Delete", "DeletePostingRecords", new { id = item.PostingId }, new { @class = "deletea" })
                </td>
            </tr>
        }

    </table>
</div>