@model IEnumerable<MinistryOfLand.Models.Award>

@{
    ViewBag.Title = "DataAward";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="clildren-table">
    <h2>Award</h2>
    <table class="table">
        <tr>
            <th>
                User Name
            </th>
            <th>
                Title Of award
            </th>
            <th>
                Ground
            </th>
            <th>
                Date
            </th>
            
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAccount.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleOfaward)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ground)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>               
                <td>
                    @Html.ActionLink("Edit", "EditAward", new { id = item.AwardId }, new { @class = "edita" }) 
                    @Html.ActionLink("Details", "DetailsAward", new { id = item.AwardId }, new { @class = "details" }) 
                    @Html.ActionLink("Delete", "DeleteAward", new { id = item.AwardId }, new { @class = "deletea" })
                </td>
            </tr>
        }
    </table>
</div>