@model MinistryOfLand.Models.ForeignTravle

@{
    ViewBag.Title = "DetailsForeignTravleo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Foreign Travleo</h2>

<div>
    <h4>ForeignTravle</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Country
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
           Purpuse
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purpuse)
        </dd>

        <dt>
            Travle From
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TFrom)
        </dd>

        <dt>
            Travle To
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TTo)
        </dd>

        <dt>
            User Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAccount.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditForeignTravle", new { id = Model.ForeignTravelId }, new { @class = "edita" }) |
    @Html.ActionLink("Back to List", "DataForeignTravle", new { @class = "bactolist" })
</p>
