@model MinistryOfLand.Models.Award

@{
    ViewBag.Title = "DetailsAward";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-3">

</div>
<div class="col-sm-6">
    <h2>DetailsAward</h2>

    <div>
        <h4>Award</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Title Of award
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TitleOfaward)
            </dd>

            <dt>
                Ground
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ground)
            </dd>

            <dt>
                Date
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                User Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserAccount.username)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "EditAward", new { id = Model.AwardId }, new { @class = "edita" }) |

        @Html.ActionLink("Back to List", "DataAward", "User", new { @class = "bactolist" })
    </p>
</div>
<div class="col-sm-3">

</div>

