@model MinistryOfLand.Models.LanguageInfo

@{
    ViewBag.Title = "EditLanguageInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
    <h2>EditLanguageInfo</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>LanguageInfo</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Language)
            <div class="form-group">
                @Html.LabelFor(model => model.Language, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Language)
                    @Html.ValidationMessageFor(model => model.ReadSkills)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReadSkills, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReadSkills)
                    @Html.ValidationMessageFor(model => model.ReadSkills)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WriteSkills, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WriteSkills)
                    @Html.ValidationMessageFor(model => model.WriteSkills)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SpeakSkills, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SpeakSkills)
                    @Html.ValidationMessageFor(model => model.SpeakSkills)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Userid, "Userid", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.Userid)*@
                    @Html.TextBoxFor(model => model.Userid, new { @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Userid)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "DataLanguageInfo")
    </div>
    </div>
    <div class="col-sm-2"></div>
</div>