@model MinistryOfLand.Models.ForeignTravle

@{
    ViewBag.Title = "EditForeignTravle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-2">

</div>
<div class="col-sm-8">
    <h2>EditForeignTravle</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ForeignTravelId)

            <div class="form-group">
                <label for="TrainingLocation" class="col-sm-2 control-label lbl">
                    Country
                </label>
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.Country, new { @class = "from-control inputfil" })
                    @Html.ValidationMessageFor(model => model.Country)
                </div>
            </div>

            <div class="form-group">
                <label for="TrainingLocation" class="col-sm-2 control-label lbl">
                    Purpuse
                </label>
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.Purpuse, new { @class = "from-control inputfil" })
                    @Html.ValidationMessageFor(model => model.Purpuse)
                </div>
            </div>

            <div class="form-group">
                <label for="TrainingLocation" class="col-sm-2 control-label lbl">
                    Travle From
                </label>
                <div class="col-md-7">
                   @Html.TextBoxFor(model => model.TFrom, new { @class = "from-control inputfil" })
                    @Html.ValidationMessageFor(model => model.TFrom)
                </div>
            </div>

            <div class="form-group">
                <label for="TrainingLocation" class="col-sm-2 control-label lbl">
                    Travle To
                </label>
                <div class="col-md-7">
                   @Html.TextBoxFor(model => model.TTo, new { @class = "from-control inputfil" })
                    @Html.ValidationMessageFor(model => model.TTo)
                </div>
            </div>

            <div class="form-group">
                <label for="TrainingLocation" class="col-sm-2 control-label lbl">
                    User Id
                </label>
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.userId, new {@class = "from-control inputfil", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.userId)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "DataForeignTravle")
    </div>

</div>
<div class="col-sm-2">

</div>
