@model MinistryOfLand.Models.EducationalInfo

@{
    ViewBag.Title = "EditEducation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-2">

</div>
<div class="col-sm-8">
    <h2>Edit Education Info</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.EducationalQId)

            <div class="form-group">
                <label for="TrainingLocation" class="col-sm-2 control-label lbl">
                    Degree Titel
                </label>  
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.DegreeTitel, new { @class = "from-control inputfil" })
                    @Html.ValidationMessageFor(model => model.DegreeTitel)
                </div>
            </div>

            <div class="form-group">
                <label for="TrainingLocation" class="col-sm-2 control-label lbl">
                    Institute Name
                </label>  
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.InstituteName, new { @class = "from-control inputfil" })
                    @Html.ValidationMessageFor(model => model.InstituteName)
                </div>
            </div>

            <div class="form-group">
                <label for="TrainingLocation" class="col-sm-2 control-label lbl">
                    Passing Year
                </label>  
                <div class="col-md-7">
                   @Html.TextBoxFor(model => model.PassingYear, new { @class = "from-control inputfil" })
                    @Html.ValidationMessageFor(model => model.PassingYear)
                </div>
            </div>

            <div class="form-group">
                <label for="PrincicpalSubject" class="col-sm-2 control-label lbl">
                    Princicpal Subject
                </label>  
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.PrincicpalSubject, new { @class = "from-control inputfil" })
                    @Html.ValidationMessageFor(model => model.PrincicpalSubject)
                </div>
            </div>
            <div class="form-group">
                <label for="TrainingLocation" class="col-sm-2 control-label lbl">
                    Board
                </label>
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.Board, new { @class = "from-control inputfil" })
                    @Html.ValidationMessageFor(model => model.Board)
                </div>
            </div>
            <div class="form-group">
                <label for="TrainingLocation" class="col-sm-2 control-label lbl">
                    Result
                </label>  
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.Result, new { @class = "from-control inputfil" })
                    @Html.ValidationMessageFor(model => model.Result)
                </div>
            </div>           

            <div class="form-group">
                <label for="Outof" class="col-sm-2 control-label lbl">
                   Result Out of
                </label>  
                <div class="col-md-7">
                   @Html.TextBoxFor(model => model.OutOf, new { @class = "from-control inputfil" })
                    @Html.ValidationMessageFor(model => model.OutOf)
                </div>
            </div>

            <div class="form-group">
                <label for="TrainingLocation" class="col-sm-2 control-label lbl">
                    User Id
                </label>
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.UserId, new {@class = "from-control inputfil", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.UserId)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "DataEducation")
    </div>

</div>
<div class="col-sm-2">

</div>
