@model MinistryOfLand.Models.EducationalInfo
@{
    ViewBag.Title = "Education";
}

    <div class="col-md-2 st">

    </div>

    <div class="col-md-8 ">

            <div class="con-header">
                Education
            </div>
            <div class="under">
            </div>
            <div class="formbody">
@using (Html.BeginForm("Education", "User", FormMethod.Post))
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
                <form class="form-horizontal" method="post">
                        <div class="form-group">
                            <label for="Name" class="col-sm-4 control-label lbl">
                                User Name
                            </label>
                            <div class="col-sm-7">
                                @Html.ValidationMessageFor(model => model.UserId)
                                @Html.DropDownListFor(model => model.UserId, @ViewBag.UserAccountId as SelectList, "Select User", new {@class = "from-control inputfil" })
                            </div>
                        </div>
                    <div class="form-group">
                        <label for="DegreeTitel" class="col-sm-4 control-label lbl">
                            Degree Titel
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.DegreeTitel)
                            @Html.TextBoxFor(model => model.DegreeTitel, new { @class = "from-control inputfil", @placeholder = "Degree Titel" })                         
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="DegreeTitel" class="col-sm-4 control-label lbl">
                            Principal Subject
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.PrincicpalSubject)
                            @Html.TextBoxFor(model => model.PrincicpalSubject, new { @class = "from-control inputfil", @placeholder = "Principal Subject"})
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <label for="DegreeTitel" class="col-sm-4 control-label lbl">
                            Institute Name
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.InstituteName)
                            @Html.TextBoxFor(model => model.InstituteName, new { @class = "from-control inputfil", @placeholder = "Institute Name"})                         
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="DegreeTitel" class="col-sm-4 control-label lbl">
                            Board
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.Board)
                            @Html.TextBoxFor(model => model.Board, new { @class = "from-control inputfil", @placeholder = "Board" })                           
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lprdate" class="col-sm-4 control-label lbl">
                            Passing Year
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.PassingYear)
                            @Html.TextBoxFor(model => model.PassingYear, new { @class = "from-control inputfil", @placeholder = "Passing Year"})                      
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DegreeTitel" class="col-sm-4 control-label lbl">
                            CGPA/GPA
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.Result)
                            @Html.TextBoxFor(model => model.Result, new { @class = "from-control inputfil", @placeholder = "CGPA/GPA" })                          
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="DegreeTitel" class="col-sm-4 control-label lbl">
                            Out Of CGPA/GPA
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.OutOf)
                            @Html.TextBoxFor(model => model.OutOf, new { @class = "from-control inputfil", @placeholder = "CGPA/GPA" })
                        </div>
                    </div>              
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2 text-center" style="margin-bottom:100px;">
                            <input type="submit" name="Submit" class="btn btn-default" value="Submit" style="margin-top: 30px;width: 175px;margin-left: 50px;font-weight:bold;" />
                        </div>
                    </div>
                </form>
}
            </div>
       
        <div class="col-md-2 last">

        </div>
    </div>


