@model MinistryOfLand.Models.GeneralInfo
@{
    ViewBag.Title = "GenaralInfo";
    
}


<div class="row">
    <div class="col-md-2 st">

    </div>
    <div class="col-md-8 ">

        <div class="con-header">
            General Information
        </div>
        <div class="under">
        </div>
        <div class="formbody">
            <div class="msg">
                @if (!string.IsNullOrEmpty(ViewBag.Msg))
                {
                    <script type="text/javascript">
                            alert("@ViewBag.Msg");
                    </script>
                }
            </div>

            @using (Html.BeginForm("GenaralInfo", "User", FormMethod.Post,new { enctype = "multipart/form-data" }))
            {
                
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                
                
                <form class="form-horizontal" method="post">
                    <div class="form-group">
                        <label for="TrainingLocation" class="col-sm-4 control-label lbl">
                            Select User
                        </label>
                        <div class="col-sm-7">
                            
                            @Html.ValidationMessageFor(model => model.userId)
                            @Html.DropDownListFor(model => model.userId, @ViewBag.UserAccountId as SelectList, "Select User", new { @class = "from-control inputfil" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="col-sm-4 control-label lbl">
                            Name
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.Name)
                            @Html.TextBoxFor(model => model.Name, new { @class = "from-control inputfil", @placeholder = "Name"})                          
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="FathersName" class="col-sm-4 control-label lbl">
                            Father's Name
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.FathersName)
                            @Html.TextBoxFor(model => model.FathersName, new { @class = "from-control inputfil", @placeholder = "Father's Name" })
                            @*<input type="text" class="form-control required" name="FathersName" placeholder="Fathers Name" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MothersName" class="col-sm-4 control-label lbl">
                            Mothers Name
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.MothersName)
                            @Html.TextBoxFor(model => model.MothersName, new { @class = "from-control inputfil", @placeholder = "Mother's Name"})
                            @*<input type="text" class="form-control required" name="MothersName" placeholder="Mothers Name" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DateOfBirth" class="col-sm-4 control-label lbl">
                            Date Of Birth (mm/dd/yyyy)
                        </label>
                        <div class="col-sm-7">
                                @Html.ValidationMessageFor(model => model.DateOfBirth)
                                @Html.TextBoxFor(model => model.DateOfBirth, "{0:yyyy-MM-dd}", new { @class = "from-control inputfil", @placeholder = "(mm/dd/yyyy)", id = "dobDate", type = "date" })                             
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Nationality" class="col-sm-4 control-label lbl">
                            Nationality
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.Nationality)
                            @Html.TextBoxFor(model => model.Nationality, new { @class = "from-control inputfil", @placeholder = "Nationality"})
                            @*<input type="text" class="form-control required" name="Nationality" placeholder="Nationality" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="NIDNumber" class="col-sm-4 control-label lbl">
                            NID Number
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.NIDNumber)
                            @Html.TextBoxFor(model => model.NIDNumber, new { @class = "from-control inputfil", @placeholder = "NID Number"})
                            @*<input type="text" class="form-control required" name="NIDNumber" placeholder="NIDNumber" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Gender" class="col-sm-4 control-label lbl">
                            Gender
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.Gender)
                            @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>
        {
            new SelectListItem{ Text="Male", Value="Male"},
            new SelectListItem{ Text="Female", Value="Female"}
        }, "Select Gender", new { @class = "drl inputfil" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="BloodGroup" class="col-sm-4 control-label lbl">
                            Blood Group
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.BloodGroup)
                            @Html.DropDownListFor(model => model.BloodGroup, new List<SelectListItem>
        {
            new SelectListItem{ Text="A+ (Positive)", Value="A+"},
            new SelectListItem{ Text="A- (Negative)", Value="A-"},
            new SelectListItem{ Text="B+ (Positive)", Value="B+"},
            new SelectListItem{ Text="B- (Negative)", Value="B-"},
            new SelectListItem{ Text="AB+ (Positive)", Value="AB+"},
            new SelectListItem{ Text="AB- (Negative)", Value="AB-"},
            new SelectListItem{ Text="O+ (Positive)", Value="O+"},
            new SelectListItem{ Text="O- (Negative)", Value="O-"}            
        }, "Select Blood Group", new { @class = "drl inputfil"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ContactPhone" class="col-sm-4 control-label lbl">
                            Contact Phone
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.ContactPhone)
                            @Html.TextBoxFor(model => model.ContactPhone, new { @class = "from-control inputfil", @placeholder = "Contact Number"})
                            @*<input type="text" class="form-control required" name="ContactPhone" placeholder="Contact Phone" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CellPhone" class="col-sm-4 control-label lbl">
                            Cell Phone
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.CellPhone)
                            @Html.TextBoxFor(model => model.CellPhone, new { @class = "from-control inputfil", @placeholder = "Cell Phone"})
                            @*<input type="text" class="form-control required" name="CellPhone" placeholder="Cell Phone" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Religion" class="col-sm-4 control-label lbl">
                            Religion
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.Religion)
                            @Html.TextBoxFor(model => model.Religion, new { @class = "from-control inputfil", @placeholder = "Relaigion"})
                            @*<input type="text" class="form-control required" name="Religion" placeholder="Religion" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Email" class="col-sm-4 control-label lbl">
                            Email
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.Email)
                            @Html.TextBoxFor(model => model.Email, new { @class = "from-control inputfil", @placeholder = "Email" })
                            @*<input type="text" class="form-control required" name="Email" placeholder="Email" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PresentAddress" class="col-sm-4 control-label lbl">
                            Present Address
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.PresentAddress)
                            @Html.TextAreaFor(model => model.PresentAddress, new { @class = "from-control inputfil", @placeholder = "Present Address"})
                            @*<textarea class="form-control required" name="PresentAddress"></textarea>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PermanentAddress" class="col-sm-4 control-label lbl">
                            Permanent Address
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.PermanentAddress)
                            @Html.TextAreaFor(model => model.PermanentAddress, new { @class = "from-control inputfil", @placeholder = "Permanent Address"})
                            @*<textarea class="form-control required" name="PermanentAddress"></textarea>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="HomeDistrict" class="col-sm-4 control-label lbl">
                            Home District
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.HomeDistrict)
                            @Html.TextBoxFor(model => model.HomeDistrict, new { @class = "from-control inputfil", @placeholder = "Home District"})
                            @*<input type="text" class="form-control required" name="HomeDistrict" placeholder="Home District" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MarialStatus" class="col-sm-4 control-label lbl">
                            Marital Status
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.MarialStatus)
                            @Html.DropDownListFor(model => model.MarialStatus, new List<SelectListItem>
        {
            new SelectListItem{ Text="Married", Value="Married"},
            new SelectListItem{ Text="Unmarried", Value="Unmarried"}
        }, "Select Status", new { @class = "drl inputfil", id = "ddlms", onchange = "ShowHideDiv()"})

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="JoiningDate" class="col-sm-4 control-label lbl">
                            Joining Date (mm/dd/yyyy)
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.JoiningDate)
                            @Html.TextBoxFor(model => model.JoiningDate, "{0:yyyy-MM-dd}", new { @class = "from-control inputfil", @placeholder = "(mm/dd/yyyy)", type = "Date" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Rank" class="col-sm-4 control-label lbl">
                            Rank
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.Rank)
                            @Html.TextBoxFor(model => model.Rank, new { @class = "from-control inputfil", @placeholder = "Rank"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="position" class="col-sm-4 control-label lbl">
                            Position
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.Position)
                            @Html.TextBoxFor(model => model.Position, new { @class = "from-control inputfil", @placeholder = "Position" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lprdate" class="col-sm-4 control-label lbl">
                            LPR Date (mm/dd/yyyy)
                        </label>
                        <div class="col-sm-7">
                            <div class="col-sm-8">
                                @Html.ValidationMessageFor(model => model.DateOfBirth )

                                @Html.TextBoxFor(model => model.LPRDate, "{0:yyyy-MM-dd}", new { @class = "from-control inputfil", @placeholder = "(mm/dd/yyyy)", value = "'+DateOfBirth+365+'", id = "lpr_Date", type = "taxt" })
                            </div>
                            <div class="col-sm-3">
                                <div class="generate">
                                    <input type="button" onclick="getdate()" value="Generate LPR Date" />
                                </div>
                            </div>                            
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="Cadre" class="col-sm-4 control-label lbl">
                            Cadre
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.Cadre)
                            @Html.DropDownListFor(model => model.Cadre, new List<SelectListItem>
        {
            new SelectListItem{ Text="Yeas", Value="Yeas"},
            new SelectListItem{ Text="No", Value="No"}
        }, "Select", new { @class = "drl inputfil"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CadreBatch" class="col-sm-4 control-label lbl">
                            Cadre Batch
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.CadreBatch)
                            @Html.TextBoxFor(model => model.CadreBatch, new { @class = "from-control inputfil", @placeholder = "Cadre Batch"})
                            </div>
                    </div>
                    <div id="dvms" style="display: none">
                        <div class="form-group">
                            <div class="col-sm-9 con-header">
                                Spouse Information
                            </div>
                            <div class="col-sm-9 under">
                            </div>
                        </div>
                            <div class="form-group">
                                <label for="SpouseName" class="col-sm-4 control-label lbl">
                                    Spouse Name
                                </label>
                                <div class="col-sm-7">

                                    @Html.TextBoxFor(model => model.SpouseName, new { @class = "from-control inputfil", @placeholder = "Spouse Name"})
                               </div>
                            </div>
                            <div class="form-group">
                                <label for="SpouseOccopation" class="col-sm-4 control-label lbl">
                                    Spouse Occupation
                                </label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(model => model.SpouseOccopation, new { @class = "from-control inputfil", @placeholder = "Spouse Occupation"})
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="SpouseDesignation" class="col-sm-4 control-label lbl">
                                    Spouse Designation
                                </label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(model => model.SpouseDesignation, new { @class = "from-control inputfil", @placeholder = "Spouse Designation" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="SpouseHomeDistrict" class="col-sm-4 control-label lbl">
                                    Spouse Home District
                                </label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(model => model.SpouseHomeDistrict, new { @class = "from-control inputfil", @placeholder = "Spouse Home District" })                                  
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="SpouseOrganization" class="col-sm-4 control-label lbl">
                                    Spouse Organization
                                </label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(model => model.SpouseOrganization, new { @class = "from-control inputfil", @placeholder = "Spouse Organization"})
                               </div>
                            </div>
                            <div class="form-group">
                                <label for="SpouseOrgLocation" class="col-sm-4 control-label lbl">
                                    Spouse Location
                                </label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(model => model.SpouseOrgLocation, new { @class = "from-control inputfil", @placeholder = "Location"})
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2 text-center" style="margin-bottom:100px;">
                                <input type="submit" name="submit" class="btn btn-default" value="Submit" style="margin-top: 30px;width: 175px;margin-left: 50px;font-weight:bold;" />
                            </div>
                        </div>                    
                </form>
            }
        </div>
    </div>
</div>


<div class="col-md-2 last">
</div>


<script>
    $(document).ready(function () {
        $('#dobDate').datepicker();
        $('#lpr_Date').datepicker();
    });
    function getdate() {
        var tt = document.getElementById('dobDate').value;

        var date = new Date(tt);
        var newdate = new Date(date);
        newdate.setDate(newdate.getDate() + 22630);
        var dd = newdate.getDate();
        var mm = newdate.getMonth() + 1;
        var y = newdate.getFullYear();
        var someFormattedDate = mm + '/' + dd + '/' + y;
        document.getElementById('lpr_Date').value = someFormattedDate;
    }
</script>


@*Spouse information Hide and Show*@
<script type="text/javascript">
    function ShowHideDiv() {
        var ddlms = document.getElementById("ddlms");
        var dvms = document.getElementById("dvms");
        dvms.style.display = ddlms.value == "Married" ? "block" : "none";
    }
</script>



















