@model MinistryOfLand.Models.LanguageInfo
@{
    ViewBag.Title = "LanguageInfo";
}

<div class="row">
    <div class="col-md-2 st">

    </div>

    <div class="col-md-8 ">
        <div class="con-header">
            Language Info
        </div>
        <div class="under">
        </div>
        <div class="formbody">
            <div class="confirmmsg">
            @if (TempData["notice"] != null)
                {
                 <p>@TempData["notice"]</p>
                    }
              </div>
            @using (Html.BeginForm("LanguageInfo", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <form class="form-horizontal" method="post">
                    
                    <div class="form-group">
                        <label for="Name" class="col-sm-4 control-label lbl">
                            User Name
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.Userid)
                            @Html.DropDownListFor(model => model.Userid, @ViewBag.UserAccountId as SelectList, "Select User", new { @class = "from-control inputfil" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="col-sm-4 control-label lbl">
                            Language
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.Language)
                            @Html.TextBoxFor(model => model.Language, new { @class = "from-control inputfil", @placeholder = "Language" })
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ReadSkills" class="col-sm-4 control-label lbl">
                            Reading Skills
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.ReadSkills)
                            @Html.DropDownListFor(model => model.ReadSkills, new List<SelectListItem>
        {
            new SelectListItem{ Text="Medium", Value="Medium"},
            new SelectListItem{ Text="Good", Value="Good"},
            new SelectListItem{ Text="Excellent", Value="Excellent"}
        }, "Select Skills", new { @class = "from-control inputfil" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="WriteSkill" class="col-sm-4 control-label lbl">
                            Writing Skills
                        </label>
                        <div class="col-sm-7">
                             @Html.ValidationMessageFor(model => model.WriteSkills)
                             @Html.DropDownListFor(model => model.WriteSkills, new List<SelectListItem>
        {
            new SelectListItem{ Text="Medium", Value="Medium"},
            new SelectListItem{ Text="Good", Value="Good"},
            new SelectListItem{ Text="Excellent", Value="Excellent"}
        }, "Select Skills", new { @class = "from-control inputfil" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SpeakSkills" class="col-sm-4 control-label lbl" >
                            Speaking Skills
                        </label>
                        <div class="col-sm-7">
                            @Html.ValidationMessageFor(model => model.SpeakSkills)
                            @Html.DropDownListFor(model => model.SpeakSkills, new List<SelectListItem>
        {
            new SelectListItem{ Text="Medium", Value="Medium"},
            new SelectListItem{ Text="Good", Value="Good"},
            new SelectListItem{ Text="Excellent", Value="Excellent"}
        }, "Select Skills", new { @class = "from-control inputfil" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2 text-center" style="margin-bottom:100px;">
                            <input type="submit" name="submit" class="btn btn-default" value="Submit" style="margin-top: 30px;width: 175px;margin-left: 50px;font-weight:bold;" />
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
    <div class="col-md-2 last">
    </div>

</div>
