@model MinistryOfLand.Models.ServiceHistory
@{
    ViewBag.Title = "ServiceHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-2 st">

    </div>
    <div class="col-md-8">
            <div class="con-header">
              Service History
            </div>
            <div class="under">
            </div>
            <div class="formbody">
                @using (Html.BeginForm("GenaralInfo", "User", FormMethod.Post))
            {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <form class="form-horizontal" method="post">
                        <div class="form-group">                            
                                <label for="TrainingLocation" class="col-sm-4 control-label lbl">
                                    Select User
                                </label>
                            <div class="col-sm-7">
                                @Html.ValidationMessageFor(model => model.UserId)
                                @Html.DropDownListFor(model => model.UserId, @ViewBag.UserAccountId as SelectList, "Select User", new { @class = "from-control inputfil" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="GovtServiceDate" class="col-sm-4 control-label lbl">
                                Gov Service Date
                            </label>
                            <div class="col-sm-7">
                                    @Html.ValidationMessageFor(model => model.GovtServiceDate)
                                    @Html.TextBoxFor(model => model.GovtServiceDate, "{0:yyyy-MM-dd}", new { @class = "from-control inputfil", @placeholder = "Gov Service Date", type = "Date" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="GazetteDate" class="col-sm-4 control-label lbl">
                                Gazette Date
                            </label>
                            <div class="col-sm-7">
                                    @Html.ValidationMessageFor(model => model.GovtServiceDate)
                                    @Html.TextBoxFor(model => model.GazetteDate, "{0:yyyy-MM-dd}", new { @class = "from-control inputfil", @placeholder = "Gazette Date", type = "Date" })                             
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="SeniorDate" class="col-sm-4 control-label lbl">
                                Senior Date
                            </label>
                            <div class="col-sm-7">                              
                                    @Html.ValidationMessageFor(model => model.SeniorDate)
                                    @Html.TextBoxFor(model => model.SeniorDate, "{0:yyyy-MM-dd}", new { @class = "from-control inputfil", @placeholder = "Senior Date", type = "Date" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Encaderment" class="col-sm-4 control-label lbl">
                                Encaderment
                            </label>
                            <div class="col-sm-7">
                                @Html.ValidationMessageFor(model => model.Encaderment)
                                @Html.TextBoxFor(model => model.Encaderment, new { @class = "from-control inputfil", @placeholder = "Encaderment" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="CadreBCS" class="col-sm-4 control-label lbl">
                                Cadre BCS
                            </label>
                            <div class="col-sm-7">
                                @Html.ValidationMessageFor(model => model.CadreBCS)
                                @Html.TextBoxFor(model => model.CadreBCS, new { @class = "from-control inputfil", @placeholder = "CadreBCS" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2 text-center">
                                <input type="submit" name="submit" class="btn btn-default" value="submit" style="margin-top: 30px;width: 175px;margin-left: 50px;font-weight:bold; "/>
                            </div>
                        </div>
                    </form>
                }
</div>
     </div>
    <div class="col-md-2">

    </div>
</div>

