<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/stylemen.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/Style1.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="icon" href="~/Content/Image/favicon.ico" type="image/gif" sizes="16x16">
    <script src="js/modernizr.js"></script> <!-- Modernizr -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    
    <title>@ViewBag.Title</title>
</head>
@if (Session["LogedUserID"] != null)
{
<body>
    <div class="fbody">
    <div class="menub">        
        <header>            
            <div id="logo">
                <a href="~/User/Index"><img src="~/Content/Image/Logo.png" /></a>
            </div>
            <div id="cd-hamburger-menu"><a class="cd-img-replace" href="#0">Menu</a></div>
            <nav id="main-nav">
                <ul>
                    <li> @Html.ActionLink("GENERAL", "GenaralInfo", "User")</li>
                    <li> @Html.ActionLink("EDUCATIONAL", "Education", "User")</li>
                    <li> @Html.ActionLink("TRAINING", "Training", "User")</li>
                    <li> @Html.ActionLink("PUBLICATION", "Publication", "User")</li>
                    <li> @Html.ActionLink("AWARD", "Award", "User")</li>
                    <li> @Html.ActionLink("POSTING", "Posting", "User")</li>
                    <li> @Html.ActionLink("CHILDREN", "ChildrenInfo", "User")</li>
                    <li> @Html.ActionLink("PROMOTIONAL", "PromotionalParticular", "User")</li>
                    <li> @Html.ActionLink("LANGUAGE", "LanguageInfo", "User")</li>
                    <li> @Html.ActionLink("FOREIGN TRAVLE", "ForeignTravle", "User")</li>
                </ul>
            </nav>
        </header>
        <li> @Html.ActionLink("EDUCATION", "Education", "User")</li>
        <li> @Html.ActionLink("TRAINING", "Training", "User")</li>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="activity">
                    <div class="col-md-8">
                            <a href="~/User/EditRessume">
                                <div class="resume">
                                    @*@Html.ActionLink("Edit Resume", "EditRessume", "User")*@
                                    Edit Resume
                                </div>
                            </a>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-4">
                            @*<div class="user-pic">
                                <img src="~/Content/Image/baby.jpg" class="img-circle" width="40" height="40" />
                            </div>*@
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-4">
                                <div class="user-id">
                                    User ID:
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="username">
                                    Omar Faruk
                                </div>
                            </div>
                            </div>
                        <div class="col-md-2">
                            <div class="user-logout">
                                @Html.ActionLink("LogOut", "LogOut", "User", new{@class="adminlogout"})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="randerbody">
    @RenderBody()
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="footer">
                    <a href="http://itlanders.com/"><p>&copy; IT Landers LTD. 2017</p></a>
                </div>
            </div>
        </div>
    @*<div class="footer">
        <a href="http://itlanders.com/"><p>&copy; IT Landers LTD. 2017</p></a>
    </div>*@    
        </div>
    <!-- script link-->  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/modernizr.js"></script>
    <!--End script link-->
</body>
}

</html>
 