@model IEnumerable<Object>
@{
    Layout = null;
    List<MinistryOfLand.Models.GeneralInfo> generalinfo = Model.ToList()[0] as List<MinistryOfLand.Models.GeneralInfo>;
    List<MinistryOfLand.Models.UserAccount> uc = Model.ToList()[1] as List<MinistryOfLand.Models.UserAccount>;
    List<MinistryOfLand.Models.TrainingInfo> tra = Model.ToList()[2] as List<MinistryOfLand.Models.TrainingInfo>;
    ViewBag.Title = "Training";
    Layout = "~/Views/Shared/_Partial1Layout.cshtml";
}

<div class="row">
    <div class="col-sm-2">
        <div class="menu-option">
            <div class="user-section-pic">
                @foreach (var item in uc)
                {
                    <img src="~/@item.UserImage" height="200px" width="200px" />
                }
            </div>
            <div class="user-text">
                @foreach (var item in generalinfo)
                {
                    <h1>@item.Name</h1>
                    <p>@item.ContactPhone</p>
                    <p>@item.Email</p>
                    <p>@item.Rank</p>
                }
            </div>
            <div class="user-underline">

            </div>
            <div class="menu-left">
                <ul>
                    <li><a href="~/Admin/GenaralInfo">General info</a></li>
                    <li><a href="~/Admin/Education">Education</a></li>
                    <li><a href="~/Admin/Award">Award</a></li>
                    <li><a href="~/Admin/Publication">Publication</a></li>
                    <li><a href="~/Admin/Training">Training</a></li>
                    <li><a href="~/Admin/Travle">Foreign Travle</a></li>
                    <li><a href="~/Admin/Language">Language</a></li>
                    <li><a href="~/Admin/Children">Children</a></li>
                    <li><a href="~/Admin/PostingRecords">Posting Records</a></li>
                    <li><a href="~/Admin/PromotionalParticulars">Promotional Particulars</a></li>
                    @Html.ActionLink("LogOut", "LogOut", "Admin")
                </ul>
            </div>
        </div>

    </div>
    <div class="col-sm-8">

        <div class="col-sm-12">
            <div class="resume-text">
                <div class="col-md-9">
                    <h2>Training Information</h2>
                </div>
                <div class="col-md-3">
                    <a href="~/Admin/Request"><h5>Request Edit</h5></a>
                </div>
            </div>
            <div class="underline">

            </div>
            <div class="col-md-12">
                <div class="clildren-table">
                    <table>
                        <tr>
                            <th>Training Titel</th>
                            <th>Training Type</th>
                            <th>Course</th>
                            <th>Institute</th>
                            <th>Grade</th>
                            <th>Position</th>
                            <th>Country</th>
                            <th>Location</th>
                        </tr>
                        @foreach (var item in tra)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.TrainingType</td>
                                <td>@item.Course</td>
                                <td>@item.Institute</td>
                                <td>@item.Grade</td>
                                <td>@item.Position </td>
                                <td>@item.Country</td>
                                <td>@item.TrainingLocation </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">

    </div>
</div>